.single-program-learning{
  display: block;
  width: calc((100% - 60px) / 3);
  overflow: hidden;
  .image{
    background-color: #80c8e1;
    border-radius: 3px 3px 0   0;
    margin-bottom: 2px;
    position: relative;
    img{
      width: 100%;
      height: 100%;

    }
    .order-button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 155px;
      width: 100%;
      opacity: 0;
      z-index: 1;
      button{
        width: 100%;
        display: block;
        font-family: RobotoBold;
        font-size: 12px;
        color: #222222;
        text-transform: uppercase;
        text-align: center;
        border-radius: 50px;
        border: 1px solid #e9e9e9;
        padding: 10px 0;
        transition: all .2s linear;
        background-color: #fff;
        &:hover{
          transition: all .2s linear;
          text-decoration: none;
          color: #fff;
          border: 1px solid #ffa800;
          background-color: #ffa800;
        }
        &:focus{
          outline: none;
        }
      }
    }
    .black-layer{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(34, 34, 34, 0.8);
      opacity: 0;
      transition: all .2s linear;
    }
    //&:hover{
    //  .black-layer{
    //    opacity: 1;
    //    transition: all .2s linear;
    //  }
    //  .order-button{
    //    opacity: 1;
    //    transition: all .2s linear;
    //  }
    //}
  }
  .card-content{
    background-color: #007433;
    padding: 7.5px 0;
    border-radius: 0 0 3px 3px;
    margin-bottom: 10px;
    .content-image{
      margin-right: 10px;
      img{
        width: 100%;
      }
    }
    .content-text{
      font-family: RobotoMedium;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .card-content-warning{
    background-color: #e92f10;
  }
  .card-content-necessary{
    background-color: #ff8400;
  }
  .card-text{
    font-family: RobotoBold;
    font-size: 18px;
    color: #222222;
    text-align: center;
    margin-bottom: 8px;
    transition: all .2s linear;
  }
  .card-result{
    font-family: RobotoMedium;
    font-size: 16px;
    color: #222222;
    text-align: center;
    .result-number{
      color: #007433;
    }
    .result-number-warning{
      color: #e92f10;
    }
    .result-number-necessary{
      color: #ff8400;
    }
  }
  &:hover{
    transition: all .2s linear;
    text-decoration: none;
    .card-text{
      transition: all .2s linear;
      color: #007433;
    }
  }
}
@media screen and (min-width: 992px){
  .single-program-learning{
    margin: 0 15px 30px 15px;
    &:nth-of-type(3n + 1){
      margin: 0 15px 30px 0;
    }
    &:nth-of-type(3n + 3){
      margin: 0 0 30px 15px;
    }
  }
}
@media screen and (max-width: 991px){
  .single-program-learning{
    width: calc((100% - 30px)/ 2 );
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 500px){
  .single-program-learning {
    width: 100%;
    margin: 0 0 30px;
  }
}