.footer-title{
  font-family: RobotoBold;
  font-size: 18px;
  color: #222222;
  margin-bottom: 10px;
}
.footer{
  background-color: #ebebeb;
  .footer-wrapper{
    .footer-main{
      width: 100%;
      padding: 20px 0 40px;
      .content{
        width: 47%;
        .text{
          font-size: 16px;
          color: #222222;
          border-right: 1.5px solid #d9d9d9;
          padding-right: 15px;
          position: relative;
          max-height: 125px;
          line-height: 25px;
          overflow: auto;
          &::-webkit-scrollbar{
            width: 1px;
          }
          &::-webkit-scrollbar-track{
            background-color: #e9e9e9;
            //border-right: 6px solid #ebebeb;
            //border-left: 6px solid #ebebeb;
          }
          &::-webkit-scrollbar-thumb{
            background-color: #ffa800;
            //border-radius: 50%;
            //width: 14px;
            //height: 14px;

          }
        }
      }
      .contacts{
        width: calc((100% - 47%)/2);
        padding-left: 30px;
        .single-contact{
          margin-bottom: 15px;
          a{
            font-size: 16px;
            color: #222222;
            width: calc(100% - 40px);
            transition: all .2s linear;
            &:hover{
              transition: all .2s linear;
              text-decoration: none;
              color: #007433;
            }
            &:focus{
              outline: none;
            }
          }
          .social-image{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #272727;
          }
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
      .social{
        width: calc((100% - 47%)/2);
        .social-wrapper{
          .single-social{
            width: 40px;
            height: 40px;
            border: 1px solid #222222;
            border-radius: 50%;
            margin-right: 15px;
            svg{
              font-size: 18px;
              color: #222222;
            }
            &:last-of-type{
              margin-right: 0;
            }
            &:hover{
              transition: all .2s linear;
              background-color: #ffa800;
              border: 1px solid #ffa800;
              svg{
                color: #fff;
                transition: all .2s linear;
              }
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    width: 100%;
    background-color: #007433;
    padding: 14.5px 0;
    .content{
      font-size: 14px;
      color: #fff;
      a{
        color: #fff;
        transition: all .2s linear;
        &:hover{
          transition: all .2s linear;
          text-decoration: none;
          color: #ffa800;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}
@media  screen and (max-width: 991px){
  .footer{
    .footer-wrapper{
      .footer-main{
        .content{
          width: 50%;
          margin-bottom: 15px;
        }
        .contacts{
          width: 50%;
        }
        .social{
          width: 100%;
        }
      }
    }
  }
}
@media  screen and (max-width: 767px){
  .footer{
    .footer-wrapper{
      .footer-main{
        .content{
          width: 100%;
          margin-bottom: 15px;
          .text{
            border-right: none;
            .footer-circle{
              display: none;
            }
          }
        }
        .contacts{
          width: 100%;
          padding-left: 0;
          margin-bottom: 15px;
        }
        .social{
          width: 100%;
        }
      }
    }
  }
}