#header_id{
  background-color: #f5f5f5;
}
.navbar-custom-class {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 !important;
  background-color: #fff;
  z-index: 1020 !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  .logo-mobile {
    display: none !important;
  }
  .header-container{
    padding: 0 40px;
  }
  .header-container-menu{
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  .menu-wrapper{
    background-color: #007433;
    width: 100%;
    .menu{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        border-right:2px solid #00682e;
        border-left:2px solid #00682e;
        padding: 18px 15px;
        a{
          color: #fff;
          font-family: RobotoBold;
          font-size: 14px;
          transition: all .2s linear;
          letter-spacing: 1px;
          text-transform: uppercase;
          &:hover{
            text-decoration: none;
            transition: all .2s linear;
            color: #ffa800;
          }
          &:focus{
            outline: none;
          }
        }
        &:first-of-type{
          border-left: none;
          padding: 18px 15px 18px 0;
        }
        &:last-of-type{
          border-right: none;
        }
      }
    }
  }
  .search{
    position: relative;
    max-width: 265px;
    width: 265px;
    input{
      width: 100%;
      border: none;
      border-radius: 50px;
      font-size: 14px;
      color: #a6a6a6;
      padding: 8.5px 20px;
      &:focus{
        outline: none;
      }
    }
    .icon-search{
      position: absolute;
      top: 50%;
      right: 2px;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-color: #ffa800;
      svg{
        color: #fff;
        font-size: 14px;
      }
    }

  }
  .header-content{
    .main-logo{
      width: 175px;
      min-height: 105px;
      img{
        max-height: 75px;
        width: 100%;
        max-width: 175px;
      }
    }

    .registration{
      max-width: calc(100% - 175px);
      .input-wrapper{
        max-width: 220px;
        width: 100%;
        margin-right: 20px;
        input{
          width: 100%;
          border: 1px solid #e3e3e3;
          border-radius: 50px;
          font-size: 14px;
          color: #a6a6a6;
          padding: 8.5px 20px;
          &:focus{
            outline: none;
          }
        }
      }
      .submit{
        max-width: 105px;
        width: 100%;
        input{
          width: 100%;
          border-radius: 50px;
          font-family: RobotoBold;
          font-size: 12px;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          padding: 10px 0;
          border: 1px solid transparent;
          cursor: pointer;
          background-color: #ffa800;
          transition: all .2s linear;
          &:hover{
            transition: all .2s linear;
            color: #ffa800;
            background-color: #fff;
            border: 1px solid #ffa800;
          }
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .navbar-custom-class {
    .header-container{
      padding: 0 15px;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
  .navbar-custom-class {
    .header-content {
      .main-logo {
      }
      .menu-wrapper{
        .menu{
          li{
            margin-right: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header-wrapper {
    display: block !important;
  }
  .burger-button {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .navbar-custom-class{
    padding: 0 !important;
    background-color: #f5f5f5;
    .collapsed{
      .burger-span{
        position: static !important;
        &:nth-child(1){
          transform: rotate(0deg) !important;
          transition: all .2s linear !important;
        }
        &:nth-child(3){
          transform: rotate(0deg) !important;
          transition: all .2s linear !important;
        }
        &:nth-child(2){
          width: 25px !important;
          transition: all .2s linear !important;
          margin: 0 auto 5px !important;
        }
      }
    }
    .burger-button{
      display: block !important;
      padding: 0;
      margin: 0 15px 0 auto;
      border: none;
      height: 50px;
      .burger-wrapper{
        position: relative;
        width: 25px;
        .burger-span{
          position: absolute;
          top: 0;
          height: 3px;
          width: 25px;
          margin-bottom: 5px;
          background-color: #007433;
          display: block;
          &:nth-child(1){
            transform: rotate(135deg);
            transition: all .2s linear;
          }
          &:nth-child(3){
            transform: rotate(-135deg);
            transition: all .2s linear;
          }
          &:nth-child(2){
            width: 0;
            margin: 0 auto 5px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      &:focus{
        outline: none;
      }
    }
    .logo-mobile{
      margin-left: 15px;
      min-height: 100px;
      display: flex !important;
      display: -webkit-flex !important;
      align-items: center;
      -webkit-align-items: center;
      img{
        max-height: 74px;
      }
    }
    .header-content {
      margin-bottom: 10px;
      .main-logo {
        display: none !important;
      }
      .menu-wrapper{
        .menu{
          margin: 0 0 40px 0;
          li{
            width: 100%;
            margin-bottom: 10px;
            &:nth-last-of-type(1){
              margin-bottom: 0;
            }
            a{
              display: block;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .navbar-custom-class{
    .header-content{
      .registration{
        max-width: 100%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .search-wrapper{
    display: none;
  }
}