body{
  font-family: RobotoRegular;
}
.main-container{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}
.wysiwyg-wrapper{
  .wysiwyg-video{
    width: 42%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin: 0 20px 10px 0;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &:before{
      display: block;
      content: "";
      padding-top: 63%;
    }
  }
  p{
    font-size: 16px;
    color: #222222;
    margin-bottom: 20px;
  }
  img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 30px;
  }
  .wysiwyg-image {
    width: calc((100% - 30px) / 2);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:before {
      display: block;
      content: "";
      padding-top: 61%;
    }
  }
}
@media screen and (max-width: 991px){
  .wysiwyg-wrapper{
    .wysiwyg-video {
      width: 100%;
      margin: 0 0 15px 0;
    }
  }
}
@media screen and (max-width: 767px){
  .wysiwyg-wrapper {
    p{
      font-size: 14px;
      margin-bottom: 15px;
    };
  }
}