.sidebar{
  width: 260px ;
  .title{
    font-family: RobotoBold;
    font-size: 24px;
    color: #007433;
    border-bottom: 1.5px solid #007433;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .menu{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        align-items: center;
        -webkit-align-items: center;
        margin-bottom: 20px;
        .image{
          width: 45px;
        }
        a{
          width: calc(100% - 45px);
          font-family: RobotoBold;
          font-size: 14px;
          color: #222222;
          padding: 2px 10px;
          text-transform: uppercase;
          transition: all .2s linear;
          &:hover{
            transition: all .2s linear;
            text-decoration: none;
            background-color: #007433;
            color: #fff;
            text-align: center;

          }
          &:focus{
            outline: none;
          }
        }
        &:last-of-type{
          margin-bottom: 25px;
        }
      }
    }
    .progress-block{
      width: 100%;
      padding: 20px 0;
      border-top: 1.5px solid #e9e9e9;
      border-bottom: 1.5px solid #e9e9e9;
      margin-bottom: 20px;
      .progress-title{
        font-family: RobotoMedium;
        font-size: 14px;
        color: #222222;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
      }
      .text{
        font-family: RobotoBold;
        font-size: 14px;
        color: #007433;
        margin-bottom: 5px;
        text-align: center;
      }
      .progress{
        height: 12px;
        background: #bbefd1;
        border-radius: 50px;
      }
    }
    .progress-button{
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      a{
        display: block;
        font-family: RobotoBold;
        font-size: 12px;
        color: #222222;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        border: 1px solid #e9e9e9;
        border-radius: 50px;
        transition: all .2s linear;
        &:hover{
          transition: all .2s linear;
          text-decoration: none;
          color: #fff;
          background-color: #ffa800;
          border: 1px solid #ffa800
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}