.about-us-page{
  padding: 50px 0 60px;
  .main-title{
    font-family: RobotoBold;
    font-size: 36px;
    color: #222222;
    margin-bottom: 35px;
    .title-line{
      width: calc(100% - 120px);
      background-color: #e9e9e9;
      height: 1.5px;
    }
  }
  .single-post{
    margin-bottom: 25px;
    .image{
      width: 47%;
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        overflow: hidden;
      }
      &:before{
        display: block;
        content: "";
        padding-top: 62%;
      }
    }
    .about-us-image-order{
      order: 2;
    }
    .content{
      width: calc(100% - 47% - 25px);
      .title{
        width: 100%;
        font-size: 24px;
        color: #007433;
        font-family: RobotoBold;
        border-bottom: 1.5px solid #007433;
        margin-bottom: 10px;
      }
      .text{
        width: 100%;
        font-size: 16px;
        color: #222222;
      }
    }
    .about-us-content-order{
      order: 1;
    }
  }
  .video{
    position: relative;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%
    }
    &:before{
      display: block;
      content: "";
      padding-top: 55%;
    }
  }
}
@media screen and (max-width: 767px) {
  .about-us-page{
    .main-title{
      font-size: 32px;
      .title-line{
      }
    }
    .single-post{
      margin-bottom: 0;
      .image{
        width: 100%;
        margin-bottom: 20px;
      }
      .about-us-image-order{
        order: 1;
      }
      .content{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}