.asq-question-page{
  padding: 100px 0;
  background-image: url("../../images/ask-question-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  .ask-form{
    padding: 35px 60px 50px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 430px;
    margin: 0 auto;
    .title{
      font-family: RobotoBold;
      font-size: 30px;
      color: #007433;
      text-align: center;
      margin-bottom: 10px;
    }
    .input-wrapper{
      margin-bottom: 15px;
      .input-title{
        font-family: RobotoBold;
        font-size: 14px;
        color: #222222;
        text-align: center;
        margin-bottom: 5px;
      }
      input{
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 7px 25px;
        text-align: center;
        font-size: 16px;
        color: #bfbfbf;
        &:focus{
          outline: none;
        }
      }
      textarea{
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 10px 25px;
        text-align: center;
        font-size: 16px;
        color: #bfbfbf;
        resize: none;
        &:focus{
          outline: none;
        }
      }
    }
    .submit-button{
      max-width: 165px;
      width: 100%;
      margin: 0 auto;
      input{
        width: 100%;
        cursor: pointer;
        background-color: #ffa800;
        border-radius: 50px;
        border: 1px solid transparent;
        padding: 10px 0;
        font-family: RobotoBold;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        transition: all .2s linear;
        &:hover{
          transition: all .2s linear;
          background-color: #fff;
          border: 1px solid #ffa800;
          color: #ffa800;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}
@media screen and(max-width: 767px){
  .asq-question-page{
    .ask-form{
      padding: 30px 20px;
    }
  }
}