.course-manag-page {
  padding: 50px 0 60px;
  .main-wrapper {
    .content {
      width: calc(100% - 260px - 30px);
      .course-fail-block{
        padding: 45px 90px 50px;
        border-radius: 3px;
        background-image: url("../../images/fail-bg.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        background-size: cover;
        .block-image{
          width: 185px;
        }
        .block-content{
          width: calc(100% - 185px);
          .block-title{
            font-family: RobotoBold;
            font-size: 24px;
            color: #222222;
            margin-bottom: 5px;
          }
          .block-text{
            font-family: RobotoBold;
            font-size: 16px;
            color: #222222;
            margin-bottom: 10px;
            .block-attempt{
              font-family: RobotoRegular;
            }
          }
          .progress{
            height: 12px;
            background: #ffa798;
            border-radius: 50px;
            margin-bottom: 5px;
          }
          .progress-result{
            font-family: RobotoBold;
            font-size: 14px;
            color: #e92f10;
            margin-bottom: 15px;
          }
          .result-title{
            font-family: RobotoBold;
            font-size: 16px;
            color: #222222;
            margin-bottom: 5px;
            text-align: center;
          }
          .table-wrapper{
            background-color: #fff;
            border: 1.5px solid #e6e6e6;
            .table-line{
              border-bottom: 1.5px solid #e6e6e6;
              .single-table{
                font-size: 14px;
                color: #222222;
                text-align: center;
                padding: 9.5px 0;
                width: 27%;
                border-right: 1.5px solid #e6e6e6;
                &:nth-of-type(3n + 2){
                  width: calc(100% - 54%);
                }
                &:nth-of-type(3n + 3){
                  border-right: none;
                }
              }
              .table-result{
                color: #e92f10;
              }
              .table-result-pass{
                color: #007433;
              }
              &:last-of-type{
                border-bottom: none;
              }
            }
          }
        }
      }
      .title {
        font-family: RobotoBold;
        font-size: 36px;
        color: #222222;
        text-align: center;
        margin-bottom: 10px;
      }
      .task-block {
        border: 1.5px solid #ff8400;
        border-radius: 5px;
        max-width: 235px;
        margin: 0 auto 20px;
        padding: 6px 0;
        .image {
          margin-right: 10px;
        }
        .text {
          font-family: RobotoMedium;
          font-size: 16px;
          color: #ff8400;
          text-transform: uppercase;
        }
      }
      .main-content {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        padding: 30px 40px 70px;
        .test-content-wrapper {
          margin: 50px 0;
          .test-button {
            max-width: 335px;
            margin: 0 auto 20px;
            width: 100%;
            a {
              display: block;
              width: 100%;
              text-align: center;
              transition: all .2s linear;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border: 1px solid #e3e3e3;
              padding: 10px 0;
              border-radius: 50px;

              &:hover {
                transition: all .2s linear;
                text-decoration: none;
                border: 1px solid #ffa800;
                background-color: #ffa800;
                color: #fff;
              }
              &:focus {
                outline: none;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .test-title {
            font-family: RobotoMedium;
            font-size: 18px;
            color: #222222;
            margin-bottom: 10px;
            text-align: center;
          }
          .answer-question{
            font-family: RobotoMedium;
            font-size: 18px;
            color: #222222;
            margin-bottom: 15px;
          }
          .answer-wrapper {
            margin-left: 40px;

            .markup-add-job-form {
              font-size: 16px;
              color: #222222;
              position: relative;
              margin-bottom: 15px;
              input {
                position: absolute;
                left: -9999px;
                &:checked ~ .add-job-mark:before {
                  content: "";
                  display: block;
                  transition: all .2s linear;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: #197b30;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 1;
                }
                &:checked ~ .answer-text {
                  color: #007433;
                }
              }
              .add-job-mark {
                width: 20px;
                height: 20px;
                border: 1.5px solid #197b30;
                border-radius: 50%;
                display: block;
                margin-right: 10px;
                transition: all .2s linear;
                position: relative;
                &:before {
                  content: "";
                  display: block;
                  transition: all .2s linear;
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                  background-color: #197b30;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                }
              }
              .answer-text{
                font-size: 16px;
                color: #222222;
                width: calc(100% - 20px - 10px);
              }
              &:last-of-type {
                margin-bottom: 15px;
              }
            }
            .single-checkbox {
              margin-bottom: 15px;
              .form-checkbox {
                position: absolute;
                left: -9999px;
                &:checked ~ .check-label {
                  .check-back {
                    background-color: #fff;
                    transition: all .1s linear;
                    .check-checkmark {
                      opacity: 1;
                      transition: all .1s linear;
                    }
                  }
                }
                &:checked ~ .check-title {
                  color: #007433;
                }
              }
              .check-label {
                margin: 0;
                .check-custom-wrapper {
                  flex-flow: column;
                  -webkit-flex-flow: column;
                  .check-back {
                    position: relative;
                    width: 22px;
                    height: 22px;
                    background-color: #fff;
                    border: 1px solid #222222;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-right: 15px;
                    transition: all .1s linear;
                    .check-checkmark {
                      color: #007433;
                      opacity: 0;
                      transition: all .1s linear;
                      font-size: 15px;
                      svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
              &:last-child {
                margin-right: 0;
              }
              .check-title {
                font-size: 16px;
              }
              &:last-of-type {
                margin-bottom: 20px;
              }
            }
          }
          .test-yourself-button {
            max-width: 155px;
            width: 100%;
            margin: 0 auto;
            button {
              width: 100%;
              cursor: pointer;
              background-color: #fff;
              display: block;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border: 1px solid #e4e4e4;
              border-radius: 50px;
              text-align: center;
              padding: 10px 0;
              transition: all .2s linear;
              &:hover {
                transition: all .2s linear;
                text-decoration: none;
                color: #fff;
                background-color: #ffa800;
                border: 1px solid #ffa800;
              }
              &:focus {
                outline: none;
              }
            }
          }
          .right-answer {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            margin: 20px 0 0 0;
            background-color: #f6f6f6;
            border-radius: 5px;
            padding: 19px 25px;
            .image-answer {
              margin: 0 15px 0 0;
              img {
                width: 100%;
                object-fit: contain;
                margin: 0;
              }
            }
            .text {
              font-size: 16px;
              color: #222222;
              .success-answer {
                font-family: RobotoBold;
                color: #007433;
              }
              .unsuccess-answer {
                font-family: RobotoBold;
                color: #ff8400;
              }
            }
          }
          .test-start-button {
            max-width: 160px;
            margin: 0 auto 20px;
            width: 100%;
            a {
              display: block;
              width: 100%;
              text-align: center;
              transition: all .2s linear;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border: 1px solid #e3e3e3;
              padding: 10px 0;
              border-radius: 50px;

              &:hover {
                transition: all .2s linear;
                text-decoration: none;
                border: 1px solid #ffa800;
                background-color: #ffa800;
                color: #fff;
              }
              &:focus {
                outline: none;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .result-test{
            text-align: center;
            font-family: RobotoBold;
            font-size: 16px;
            color: #222222;
            .result-test-score{
              font-family: RobotoRegular;
              color: #007433;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .course-manag-page {
    padding: 30px 0;
    .main-wrapper {
      .content {
        width: 100%;
        .title{
          font-size: 32px;
        }
        .main-content{
          .test-content-wrapper{
            .answer-wrapper{
              margin: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .course-manag-page {
    .main-wrapper {
      .content {
        .course-fail-block{
          padding: 30px 20px 35px;
        }
        .title{
          font-size: 24px;
        }
        .main-content{
          padding: 20px 15px;
          .test-content-wrapper{
            padding: 20px 15px;
            .answer-wrapper{
            }
            .right-answer{
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .course-manag-page{
    .main-wrapper {
      .content {

        .course-fail-block{
          .block-image{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
          .block-content{
            width: 100%;
            .block-title{
              font-size: 20px;
            }
          }
        }

      }
    }
  }
}
