.news-structure-page{
  padding: 50px 0 60px;
  .main-title{
    font-family: RobotoBold;
    font-size: 36px;
    color: #222222;
    margin-bottom: 35px;
    .title-line{
      width: calc(100% - 355px);
      background-color: #e9e9e9;
      height: 1.5px;
    }
  }
  .news-wrapper{
    .bottom-line{
      width: 100%;
      height: 1.5px;
      background-color: #e9e9e9;
    }
  }
}
@media screen and (max-width: 991px) {
  .news-structure-page{
    .news-wrapper{
      justify-content: space-between;

    }
  }
}
@media screen and (max-width: 767px) {
  .news-structure-page{
    .main-title{
      font-size: 32px;
      .title-line{
        width: calc(100% - 320px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .news-structure-page{
    .news-wrapper{
      justify-content: space-between;
    }
  }
}