.page-results{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .page-title{
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        padding-bottom: 15px;
        text-align: center;
      }
      .page-title-border{
        height: 1.5px;
        max-width: 260px;
        width: 100%;
        margin: 0 auto 20px;
        background-color: #007433;
      }
      .table-wrapper{
        margin-bottom: 50px;
        .title-block{
          padding-bottom: 3px;
          .title-cell{
            font-family: RobotoBold;
            font-size: 14px;
            color: #fff;
            background-color: #007433;
            margin-right: 2.5px;
            padding: 7.5px 0;
            width: calc((100% - 41% - 24%)/2);
            &:nth-of-type(4n + 1){
              border-radius: 5px 0 0 0;
              width: 41%;
            }
            &:nth-of-type(4n + 3){
              width: 24%;
            }
            &:nth-of-type(4n + 4){
              border-radius:0  5px 0 0 ;
              width: calc((100% - 41% - 24%)/2);
            }
          }
        }
        .content-block{
          padding-bottom: 3px;
          .tests-results{
            width: 100%;
            background-color: #f6f6f6;
            position: absolute;
            top: 100%;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            transition: all .2s linear;
            box-shadow: 0 0 20px -5px lightgrey;
            .results-title{
              text-align: center;
              font-size: 14px;
              font-family: RobotoRegular;
              padding: 12px 0;
              border-bottom: 1px solid #e6e6e6;
              border-top: 1px solid #e6e6e6;
            }
            .last-results{
              border-bottom: 1px solid #e6e6e6;
              &:last-of-type{
                border-bottom: none;
              }
              .date-result{
                font-size: 14px;
                text-align: center;
                width: 50%;
                border-right: 1px solid #e6e6e6;
                padding: 12px 0;
              }
              .percent-result{
                font-family: RobotoMedium;
                font-size: 14px;
                text-align: center;
                width: 50%;
                padding: 12px 0;
              }
            }
          }
          .test-result-visible{
            visibility: visible;
            opacity: 1;
            transition: all .2s linear;
          }
          .content-cell{
            position: relative;
            text-align: center;
            font-family: RobotoMedium;
            font-size: 14px;
            color: #222222;
            background-color: #f6f6f6;
            margin-right: 2.5px;
            padding: 7.5px 0;
            width: calc((100% - 41% - 24%)/2);
          }
          .content-cell-title{
            width: 60px;
            background-color: #23ac5f;
            margin-right: 0;
            color: #fff;
            font-family: RobotoMedium;
          }
          .content-cell-course{
            width: calc(41% - 60px);
            position: relative;
            .chevron{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 15px
            }
          }
          .content-cell-time{
            width: 24%;
          }
          .content-cell-title-orange{
            background-color: #ffa838;
          }
          .content-cell-title-blue{
            background-color: #579af4;
          }
          .table-cell-good{
           color: #008c3d;
          }
          .table-cell-warning{
            color: #e92f10;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .page-results{
    .main-wrapper{
      .content{
        width: 100%;
      }
      .sidebar{
        width: 100%;
      }
    }
  }
}