.page-faq{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .program-title{
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        padding-bottom: 10px;
        text-align: center;
      }
      .program-title-line{
        max-width: 265px;
        margin: 0 auto 30px;
        height: 1.5px;
        background-color: #007433;
      }
      .accordion-wrapper{
        .card{
          border: 0.5px solid #e6e6e6;
          overflow: hidden;
          margin-bottom: 10px;
          .card-header{
            padding: 0;
            background-color: inherit;
            border-bottom: 0.5px solid #e6e6e6;;
            &:first-child{
              border-radius: 0;
            }
            .card-link{
              background-color: #007433;
              display: block;
              padding: 10.5px 40px 10.5px 30px;
              border-radius: 5px;
              font-family: RobotoBold;
              font-size: 18px;
              color: #222222;
              position: relative;
              transition: all .2s linear;
              .card-image{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                width: 30px;
                height: 30px;
                background-image: url("../../images/accordion-minus.png");
                background-repeat: no-repeat;
              }
            }
            .card-link.collapsed{
              background-color: #f6f6f6;
              transition: all .2s linear;
              .card-image{
                background-image: url("../../images/accordion-plus.png");
                background-repeat: no-repeat;
              }
            }

          }
          .card-body{
            font-size: 16px;
            color: #222222;
            background-color: #fff;
          }
          &:last-of-type{
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .page-faq{
    padding: 30px 0;
    .main-wrapper{
      .sidebar{
        width: 100%;
      }
      .content{
        width: 100%;
        .program-title{
          font-size: 32px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .page-faq{
    .main-wrapper{
      .content{
        .program-title{
          font-size: 28px;
        }
      }
    }
  }
}