.page-application{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .application-wrapper{
        padding: 30px 40px 40px;
        border: 0.5px solid #e9e9e9;
        border-radius: 5px;
        .application-text{
          font-size: 18px;
          color: #222222;
          margin-bottom: 8px;
          text-align: center;
        }
        .application-title{
          font-family: RobotoBold;
          font-size: 24px;
          color: #222222;
          text-align: center;
          margin-bottom: 15px;
        }
        .proff-wrapper{
          margin-bottom: 30px;
          justify-content: center;
          -webkit-justify-content: center;
          .markup-add-job-form{
            font-size: 16px;
            color: #222222;
            position: relative;
            margin:0 25px 0 0;
            input{
              position: absolute;
              left: -9999px;
              &:checked ~ .add-job-mark:before{
                content: "";
                display: block;
                transition: all .2s linear;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #197b30;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
              }
              &:checked ~ .answer-text{
                color: #007433;
              }
            }
            .add-job-mark{
              width: 20px;
              height: 20px;
              border: 1.5px solid #197b30;
              border-radius: 50%;
              display: block;
              margin-right: 10px;
              transition: all .2s linear;
              position: relative;
              &:before{
                content: "";
                display: block;
                transition: all .2s linear;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: #197b30;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
              }
            }
            .answer-text{
              font-size: 16px;
              color: #222222;
              width: calc(100% - 30px);
            }
            &:last-of-type{
              margin-bottom: 30px;
            }
            &:last-of-type{
              margin: 0;
            }
          }
        }
        .application-main-title{
          font-family: RobotoBold;
          font-size: 36px;
          color: #007433;
          text-align: center;
          padding-bottom: 10px;
        }
        .application-main-border{
          max-width: 260px;
          width: 100%;
          height: 1.5px;
          background-color: #007433;
          margin: 0 auto 10px;
        }
        .info-wrapper{
          .info-single{
            border-bottom: 0.5px solid #e9e9e9;
            padding: 11px 0;
            .info-title{
              width: 50%;
              font-family: RobotoBold;
              font-size: 16px;
              color: #222222;
            }
            .info-subject{
              width: 50%;
              font-size: 16px;
              color: #222222;
              .selectric{
                border: 1px solid #e9e9e9;
                border-radius: 5px;
                background-color: #fff;
                background-image: url(../../images/selectric.png);
                background-repeat: no-repeat;
                background-position: calc(100% - 14px) 50%;
                width: 100%;
                .button{
                  display: none;
                }
                .label{
                  color: #a6a6a6;
                  font-size: 14px;
                  margin: 0;
                  line-height: normal;
                  height: auto;
                  padding: 10.5px 35px 10.5px 20px;
                }
              }
              .selectric-items{
                border: none;
                border-bottom: 1px solid #e9e9e9;
                border-right: 1px solid #e9e9e9;
                border-left: 1px solid #e9e9e9;
                background-color: #fff;
                ul{
                  line-height: normal;
                  min-height: 0;
                }
                li{
                  padding: 10.5px 15px;
                  font-size: 14px;
                  background-color: #fff;
                  color: #a6a6a6;
                  &:hover{
                    background-color: #e9e9e9;
                    color: #fff;
                  }
                }
                li.highlighted{
                  background-color: #e9e9e9;
                  color: #fff;
                }
              }
            }
            &:nth-last-child(-2n+2){
              border-bottom: none !important;
              margin-bottom: 15px !important;
            }
          }
          .info-button{
            max-width: 180px;
            width: 100%;
            margin: 0 auto;
            button{
              width: 100%;
              cursor: pointer;
              display: block;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-align: center;
              text-transform: uppercase;
              background-color: #fff;
              border-radius: 50px;
              border: 1px solid #e9e9e9;
              padding: 10px 0;
              transition: all .2s linear;
              &:hover{
                transition: all .2s linear;
                color: #fff;
                background-color: #ffa800;
                border: 1px solid #ffa800;
              }
              &:focus{
                outline: none;
              }
            }
            .reserve-submit-disabled{
              opacity: 0.25;
              &:hover{
                color: #222222;
                background-color: #fff;
                border: 1px solid #e9e9e9;
              }
            }
          }
        }
      }
      .cancel-reserve{
        margin: 20px auto 0;
        cursor: pointer;
        display: block;
        font-family: RobotoBold;
        font-size: 12px;
        color: #222222;
        text-align: center;
        text-transform: uppercase;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid #e9e9e9;
        padding: 10px 30px;
        transition: all .2s linear;
        &:hover{
          transition: all .2s linear;
          color: #fff;
          background-color: #ffa800;
          border: 1px solid #ffa800;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .page-application{
    padding: 30px 0;
    .main-wrapper{
      .content{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page-application{
    .main-wrapper{
      .content{
        width: 100%;
        .application-wrapper{
          padding: 30px 20px;
          .application-main-title{
            font-size: 28px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .page-application{
    .main-wrapper{
      .content{
        width: 100%;
        .application-wrapper{
          padding: 30px 20px;
          .application-main-title{
            font-size: 24px;
          }
          .proff-wrapper{
            margin-bottom: 10px;
            .markup-add-job-form{
              width: 100%;
              margin-bottom: 5px;
            }
          }
          .application-title{
            font-size: 20px;
          }
          .info-wrapper{
            .info-single{
              .info-title{
                width: 100%;
                margin-bottom: 5px;
              }
              .info-subject{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}