.page-single-question{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
    }
  }
}
@media screen and (max-width: 991px) {
  .page-single-question{
    .main-wrapper{
      .content{
        width: 100%;
      }
    }
  }
}