.page-program-learning{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .test-result-block{
        padding: 50px 110px 50px;
        border-radius: 3px;
        background-image: url(../../images/fail-bg.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        background-size: cover;
        .test-result-image-wrapper{
          width: 180px;
          .test-result-image{
            margin-bottom: 10px;
          }
          .test-result{
            max-width: 140px;
            width: 100%;
            background-image: linear-gradient(to right, #ffcc45, #fca200);
            color: #fff;
            text-transform: uppercase;
            font-family: RobotoBold;
            font-size: 14px;
            text-align: center;
            border-radius: 5px;
          }
          .test-result-fail{
            background-image: linear-gradient(to right, #ff7660, #e92f10);
          }
        }
        .test-result-content{
          width: calc(100% - 180px);
          .result-block-title{
            font-family: RobotoBold;
            font-size: 24px;
            color: #222222;
            margin-bottom: 10px;
          }
          .result-block-text{
            font-size: 16px;
            color: #222222;
            .result-block-time{
              font-family: RobotoBold;
            }
          }
          .result-block-sub-text{
            font-size: 16px;
            color: #222222;
            margin-bottom: 10px;
          }
          .progress-checkmark-wrapper {
            margin-bottom: 5px;
            .progress-checkmark {
              font-family: RobotoBold;
              font-size: 14px;
              color: #fca200;
            }
            .progress-triangle {
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 4px solid #fca200;
            }
          }
          .progress{
            height: 12px;
            background: #bbefd1;
            border-radius: 50px;
            margin-bottom: 5px;
          }
          .progress-fail{
            background: #ffa798;
          }
          .progress-result{
            font-family: RobotoBold;
            font-size: 14px;
            color: #007433;
          }
          .progress-result-fail{
            color: #e92f10;
          }
          .progress-result-button{
            max-width: 200px;
            width: 100%;
            margin: 15px 0 0 0;
            
            a{
              display: block;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border-radius: 50px;
              background-color: #fff;
              border: 1px solid #e9e9e9;
              transition: all .2s linear;
              text-align: center;
              padding: 10px 0;
              &:hover{
                transition: all .2s linear;
                text-decoration: none;
                background-color: #ffa800;
                border: 1px solid #ffa800;
                color: #fff;
              }
              &:focus{
              outline: none;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .page-program-learning{
    padding: 30px 0;
    .main-wrapper{
      .content{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page-program-learning{
    .main-wrapper{
      .content{
        .test-result-block{
          padding: 30px 20px 35px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .page-program-learning{
    .main-wrapper{
      .content{
        .test-result-block{
          .test-result-image-wrapper{
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
            .test-result{
              margin: 0 auto;
            }
          }
          .test-result-content{
            width: 100%;
            text-align: center;
            .progress-result-button{
              margin: 15px auto 0;
            }
          }
        }
      }
    }
  }
}