.search-courses-single-page{
  padding: 0;
  .wysiwyg-video{
    width: 42% !important;
    float: left !important;
    margin: 0 20px 10px 0 !important;
    &:before{
      padding-top: 63% !important;
    }
  }
  .top-block{
    padding: 60px 0 175px;
    background-image: url("../../images/top-block-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    .title{
      font-family: RobotoBold;
      font-size: 48px;
      color: #fff;
      text-align: center;
      max-width: 775px;
      margin: 0 auto 10px;
      position: relative;
      z-index: 1;
    }
    .date{
      max-width: 115px;
      background-color: #007433;
      border-radius: 5px;
      text-align: center;
      margin: 0 auto;
      font-family: RobotoMedium;
      font-size: 14px;
      color: #fff;
      padding: 2px 0;
      position: relative;
      z-index: 1;
    }
    .top-block-light{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(34, 34, 34, 0.8);
    }
  }
  .content-main-wrapper{
    position: relative;
    top: -100px;
  }
  .content-wrapper{
    padding: 50px 70px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 50px -5px lightgrey;
    margin-bottom: 30px;
  }
  .button-back{
    max-width: 120px;
    width: 100%;
    margin: 0 auto;
    a{
      display: block;
      width: 100%;
      font-family: RobotoBold;
      font-size: 12px;
      color: #222222;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #e8e8e8;
      border-radius: 50px;
      padding: 10px 0;
      transition: all .2s linear;
      &:hover{
        transition: all .2s linear;
        text-decoration: none;
        background-color: #ffa800;
        border: 1px solid #ffa800;
        color: #fff;
      }
      &:focus{
        outline: none;
      }
    }
  }
}
@media screen  and (max-width: 991px){
  .search-courses-single-page{
    padding: 0 0 60px;
    .content-main-wrapper{
      top: 30px;
    }
    .content-wrapper{
      padding: 30px;
    }
  }
}
@media screen  and (max-width: 767px){
  .search-courses-single-page{
    .top-block{
      padding: 60px;
      .title{
        font-size: 28px;
      }
    }
    .content-main-wrapper{
    }
    .content-wrapper{
      padding: 15px;
    }
  }
}