.search-courses-page{
  padding: 50px 0 60px;
  .main-title{
    font-family: RobotoBold;
    font-size: 36px;
    color: #222222;
    margin-bottom: 35px;
    .title-line{
      width: calc(100% - 235px);
      background-color: #e9e9e9;
      height: 1.5px;
    }
  }
  .news-wrapper{
    .bottom-line{
      width: 100%;
      height: 1.5px;
      background-color: #e9e9e9;
    }
  }
}
@media screen and (max-width: 991px) {
  .search-courses-page{
    .news-wrapper{
      justify-content: space-between;

    }
  }
}
@media screen and (max-width: 767px) {
  .search-courses-page{
      .main-title{
        font-size: 32px;
        .title-line{
          width: calc(100% - 200px);
        }
      }
  }
}
@media screen and (max-width: 600px) {
  .search-courses-page{
    .news-wrapper{
      justify-content: space-between;
    }
  }
}