.test-page{
  padding: 40px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .title{
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        border-bottom: 1.5px solid #007433;
        text-align: center;
        max-width: 275px;
        margin: 0 auto 15px;
        padding-bottom: 15px;
      }
      .text{
        font-size: 14px;
        color: #222222;
        max-width: 350px;
        text-align: center;
        margin: 0 auto 25px;
      }
      .test-wrapper{
        .single-test{
          padding: 25px 0 30px;
          transition: all .2s linear;
          border-bottom: 1.5px solid #e9e9e9;
          .test-title{
              font-family: RobotoBold;
              font-size: 24px;
              color: #222222;
              text-align: center;
              margin-bottom: 7px;
            }
          .test-date{
            font-size: 16px;
            color: #007433;
            text-align: center;
            margin-bottom: 15px;
          }
          .test-button{
            max-width: 185px;
            width: 100%;
            margin: 0 auto;
            a{
              display: block;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-align: center;
              text-transform: uppercase;
              padding: 5px 0;
              border: 1px solid #e9e9e9;
              border-radius: 50px;
              transition: all .2s linear;
              &:hover{
                transition: all .2s linear;
                text-decoration: none;
                color: #fff;
                background-color: #ffa800;
                border: 1px solid #ffa800
              }
              &:focus{
                outline: none;
              }
            }
          }
          &:hover{
            transition: all .2s linear;
            border-bottom: 1.5px solid #007433;
            box-shadow: 0 0 25px -5px lightgrey;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .test-page{
    padding: 30px 0;
  }
}
@media screen and (max-width: 767px) {
  .test-page{
    .main-wrapper{
      .sidebar{
        width: 100%;
        margin-bottom: 20px;
      }
      .content{
        width: 100%;
        .title{
          font-size: 32px;
        }
      }
    }
  }
}