.course-manag-page {
  padding: 50px 0 60px;
  .main-wrapper {
    .content {
      width: calc(100% - 260px - 30px);
      .title {
        font-family: RobotoBold;
        font-size: 36px;
        color: #222222;
        text-align: center;
        margin-bottom: 10px;
      }
      .task-block {
        border: 1.5px solid #ff8400;
        border-radius: 5px;
        max-width: 235px;
        margin: 0 auto 20px;
        padding: 6px 0;
        .image {
          margin-right: 10px;
        }
        .text {
          font-family: RobotoMedium;
          font-size: 16px;
          color: #ff8400;
          text-transform: uppercase;
        }
      }
      .main-content {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        .end-content {
          //background-color: #e9e9e9;
          margin: 0;
          //height: 0.5px;
          border-top: 0.5px solid rgba(233, 233, 233, 1) !important;
        }
        .main-content-wrapper {
          padding: 30px 40px 40px;

          .main-content-title {
            font-family: RobotoBold;
            font-size: 24px;
            color: #222222;
            text-align: center;
            padding-bottom: 10px;
          }
          .logo-title {
            text-align: center;
            margin-bottom: 5px;
            img {
              width: inherit;
              margin: 0;
            }
          }
          .test-button {
            max-width: 335px;
            margin: 0 auto 20px;
            width: 100%;
            a {
              display: block;
              width: 100%;
              text-align: center;
              transition: all .2s linear;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border: 1px solid #e3e3e3;
              padding: 10px 0;
              border-radius: 50px;

              &:hover {
                transition: all .2s linear;
                text-decoration: none;
                border: 1px solid #ffa800;
                background-color: #ffa800;
                color: #fff;
              }
              &:focus {
                outline: none;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .main-content-hr {
            max-width: 100px;
            margin: 0 auto 15px;
          }
          .video {
            position: relative;
            margin-bottom: 15px;
            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              content: "";
              display: block;
              padding-top: 56%;
            }
          }
          .test-title {
            font-family: RobotoMedium;
            font-size: 18px;
            color: #222222;
            margin-bottom: 10px;
            text-align: center;
          }
          .answer-wrapper {
            margin-left: 40px;

            .markup-add-job-form {
              font-size: 16px;
              color: #222222;
              position: relative;
              margin-bottom: 15px;
              input {
                position: absolute;
                left: -9999px;
                &:checked ~ .add-job-mark:before {
                  content: "";
                  display: block;
                  transition: all .2s linear;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: #197b30;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 1;
                }
                &:checked ~ .answer-text {
                  color: #007433;
                }
              }
              .add-job-mark {
                width: 20px;
                height: 20px;
                border: 1.5px solid #197b30;
                border-radius: 50%;
                display: block;
                margin-right: 10px;
                transition: all .2s linear;
                position: relative;
                &:before {
                  content: "";
                  display: block;
                  transition: all .2s linear;
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                  background-color: #197b30;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                }
              }
              .answer-text{
                font-size: 16px;
                color: #222222;
                width: calc(100% - 20px - 10px);
              }
              &:last-of-type {
                margin-bottom: 15px;
              }
            }
            .single-checkbox {
              margin-bottom: 15px;
              .form-checkbox {
                position: absolute;
                left: -9999px;
                &:checked ~ .check-label {
                  .check-back {
                    background-color: #fff;
                    transition: all .1s linear;
                    .check-checkmark {
                      opacity: 1;
                      transition: all .1s linear;
                    }
                  }
                }
                &:checked ~ .check-title {
                  color: #007433;
                }
              }
              .check-label {
                margin: 0;
                .check-custom-wrapper {
                  flex-flow: column;
                  -webkit-flex-flow: column;
                  .check-back {
                    position: relative;
                    width: 22px;
                    height: 22px;
                    background-color: #fff;
                    border: 1px solid #222222;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-right: 15px;
                    transition: all .1s linear;
                    .check-checkmark {
                      color: #007433;
                      opacity: 0;
                      transition: all .1s linear;
                      font-size: 15px;
                      svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
              &:last-child {
                margin-right: 0;
              }
              .check-title {
                font-size: 16px;
              }
              &:last-of-type {
                margin-bottom: 20px;
              }
            }
          }
          .test-yourself-button {
            max-width: 155px;
            width: 100%;
            margin: 0 auto;
            a {
              display: block;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border: 1px solid #e4e4e4;
              border-radius: 50px;
              text-align: center;
              padding: 10px 0;
              transition: all .2s linear;
              &:hover {
                transition: all .2s linear;
                text-decoration: none;
                color: #fff;
                background-color: #ffa800;
                border: 1px solid #ffa800;
              }
              &:focus {
                outline: none;
              }
            }
          }
          .right-answer {
            margin: 20px 0 0 0;
            background-color: #f6f6f6;
            border-radius: 5px;
            padding: 19px 25px;
            .image-answer {
              margin: 0 15px 0 0;
              img {
                width: 100%;
                object-fit: contain;
                margin: 0;
              }
            }
            .text {
              font-size: 16px;
              color: #222222;
              .success-answer {
                font-family: RobotoBold;
                color: #007433;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .course-manag-page {
    padding: 30px 0;
    .main-wrapper {
      .content {
        width: 100%;
        .title{
          font-size: 32px;
        }
        .main-content{
          .main-content-wrapper{
            .answer-wrapper{
              margin: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .course-manag-page {
    .main-wrapper {
      .content {
        .title{
          font-size: 24px;
        }
        .main-content{
          .main-content-wrapper{
            padding: 20px 15px;
            .answer-wrapper{
            }
            .right-answer{
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
