.course-manag-page-fail {
  padding: 50px 0 60px;
  .main-wrapper {
    .content {
      width: calc(100% - 260px - 30px);
      .course-fail-block{
        padding: 45px 90px 50px;
        border-radius: 3px;
        background-image: url("../../images/fail-bg.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        background-size: cover;
        .block-image{
          width: 185px;
        }
        .block-content{
          width: calc(100% - 185px);
          .block-title{
            font-family: RobotoBold;
            font-size: 24px;
            color: #222222;
            margin-bottom: 5px;
          }
          .block-text{
            font-family: RobotoBold;
            font-size: 16px;
            color: #222222;
            margin-bottom: 10px;
            .block-attempt{
              font-family: RobotoRegular;
            }
          }
          .progress{
            height: 12px;
            background: #ffa798;
            border-radius: 50px;
            margin-bottom: 5px;
          }
          .progress-result{
            font-family: RobotoBold;
            font-size: 14px;
            color: #e92f10;
            margin-bottom: 15px;
          }
          .result-title{
            font-family: RobotoBold;
            font-size: 16px;
            color: #222222;
            margin-bottom: 5px;
            text-align: center;
          }
          .table-wrapper{
            background-color: #fff;
            border: 1.5px solid #e6e6e6;
            .table-line{
              border-bottom: 1.5px solid #e6e6e6;
              .single-table{
                font-size: 14px;
                color: #222222;
                text-align: center;
                padding: 9.5px 0;
                width: 27%;
                border-right: 1.5px solid #e6e6e6;
                &:nth-of-type(3n + 2){
                  width: calc(100% - 54%);
                }
                &:nth-of-type(3n + 3){
                  border-right: none;
                }
              }
              .table-result{
                color: #e92f10;
              }
              .table-result-pass{
                color: #007433;
              }
              &:last-of-type{
                border-bottom: none;
              }
            }
          }
        }
      }
      .main-content {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        .end-content {
          //background-color: #e9e9e9;
          margin: 0;
          //height: 0.5px;
          border-top: 0.5px solid rgba(233, 233, 233, 1) !important;
        }
        .main-content-wrapper {
          padding: 30px 40px 40px;

          .main-content-title {
            font-family: RobotoBold;
            font-size: 24px;
            color: #222222;
            text-align: center;
            padding-bottom: 10px;
          }
          .logo-title {
            text-align: center;
            margin-bottom: 5px;
            img {
              width: inherit;
              margin: 0;
            }
          }
          .test-start-button {
            max-width: 160px;
            margin: 0 auto 20px;
            width: 100%;
            a {
              display: block;
              width: 100%;
              text-align: center;
              transition: all .2s linear;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              border: 1px solid #e3e3e3;
              padding: 10px 0;
              border-radius: 50px;

              &:hover {
                transition: all .2s linear;
                text-decoration: none;
                border: 1px solid #ffa800;
                background-color: #ffa800;
                color: #fff;
              }
              &:focus {
                outline: none;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .result-test{
            text-align: center;
            font-family: RobotoBold;
            font-size: 16px;
            color: #222222;
            .result-test-score{
              font-family: RobotoRegular;
              color: #007433;
            }
          }
          .main-content-hr {
            max-width: 100px;
            margin: 0 auto 15px;
          }
          .video {
            position: relative;
            margin-bottom: 15px;
            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              content: "";
              display: block;
              padding-top: 56%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .course-manag-page-fail{
    padding: 30px 0;
    .main-wrapper{
      .content{
        width: 100%;
        .course-fail-block{

        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .course-manag-page-fail{
    .main-wrapper {
      .content {
        .course-fail-block{
          padding: 30px 20px 35px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .course-manag-page-fail{
    .main-wrapper {
      .content {
        .course-fail-block{
          .block-image{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
          .block-content{
            width: 100%;
            .block-title{
              font-size: 20px;
            }
          }
        }
        .main-content{
          .main-content-wrapper{
            padding: 20px 15px;
          }
        }
      }
    }
  }
}
