.home-page{
  padding: 35px 0 60px;
  .courses-wrapper{
    margin-bottom: 35px;
    .single-course{
      display: block;
      width: calc((100% - 90px) / 4 );
      margin: 0 15px 30px;
      transition: all .2s linear;
      overflow: hidden;
      &:nth-of-type(4n + 1){
        margin: 0 15px 30px 0;
      }
      &:nth-of-type(4n + 4){
        margin: 0 0 30px 15px;
      }
      .image{
        background-color: #d2e7f8;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-bottom: 15px;

        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        &:before{
          display: block;
          content: "";
          padding-top: 78%;
        }
      }
      .line{
        height: 1.5px;
        max-width: 100px;
        width: 100%;
        margin: 0 auto 10px;
        background-color: #ebebeb;
      }
      .card-title{
        font-family: RobotoBold;
        font-size: 18px;
        color: #222222;
        text-align: center;
        transition: all .2s linear;
      }
      &:hover{
        transition: all .2s linear;
        text-decoration: none;
        box-shadow: 0 0 20px -3px lightgrey;
        .card-title{
          color: #007433;
        }
      }
    }
  }
  .main-title{
    font-family: RobotoBold;
    font-size: 36px;
    color: #222222;
    margin-bottom: 35px;
    .title-line{
      width: calc(100% - 550px);
      background-color: #e9e9e9;
      height: 1.5px;
    }
    .title-button{
      max-width: 160px;
      width: 100%;
      margin: 0 0 0 30px;
      a{
        display: block;
        font-family: RobotoBold;
        text-transform: uppercase;
        font-size: 12px;
        color: #222222;
        border: 1px solid #e3e3e3;
        border-radius: 50px;
        text-align: center;
        padding: 10px 0;
        transition: all .2s linear;
        &:hover{
          transition: all .2s linear;
          text-decoration: none;
          background-color: #ffa800;
          color: #fff;
          border: 1px solid #ffa800;
        }
        &:focus{
          outline: none
        }
      }
    }
  }
}
@media screen and(max-width: 991px){
    .home-page{
      .news-wrapper{
        justify-content: space-between;
        -webkit-justify-content: space-between;
      }
    }
}
@media screen and(max-width: 767px){
  .home-page{
    .courses-wrapper{
      .single-course{
        width: calc((100% - 60px) / 3);
        margin: 0 15px 15px;
        &:nth-of-type(4n + 1){
          margin: 0 15px 30px 15px;
        }
        &:nth-of-type(4n + 4){
          margin: 0 15px 30px 15px;
        }
        &:nth-of-type(3n + 1){
          margin: 0 15px 30px 0;
        }
        &:nth-of-type(3n + 3){
          margin: 0 0 30px 15px;
        }
      }
    }
    .main-title{
      font-size: 32px;
      .title-line{
        display: none;
        width: calc(100% - 550px);
      }
      .title-button{
        margin: 0;
      }
    }

  }
}
@media screen and(max-width: 600px){
  .home-page{
    .courses-wrapper{
      justify-content: space-between;
      -webkit-justify-content: space-between;
      .single-course{
        width: calc((100% - 15px) / 2);
        margin: 0 0 30px;
        &:nth-of-type(3n + 1){
          margin: 0 0px 15px 0;
        }
        &:nth-of-type(3n + 3){
          margin: 0 0 15px 0px;
        }
        &:nth-of-type(4n + 1){
          margin: 0 0 15px 0px;
        }
        &:nth-of-type(4n + 4){
          margin: 0 0 15px 0px;
        }
      }
    }
  }
}