.page-mark {
  padding: 50px 0 60px;
  .main-wrapper {
    .content {
      width: calc(100% - 260px - 30px);
      .message-block {
        padding: 20px 55px 20px 20px;
        background-color: #fff2c8;
        border-radius: 5px;
        margin-bottom: 15px;
        .image {
          width: 55px;
        }
        .text {
          width: calc(100% - 55px);
          font-size: 16px;
          color: #222222;
        }
      }
      .main-title {
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        text-align: center;
        padding-bottom: 10px;
      }
      .main-title-border {
        max-width: 260px;
        height: 1.5px;
        margin: 0 auto 20px;
        background-color: #007433;
      }
      .person-wrapper {
        .single-wrapper {
          display: block;
          padding: 20px;
          border-bottom: 2px solid #e9e9e9;
          transition: all .2s linear;
          .person-image {
            width: 105px;
            img {
              width: 73px;
              height: 73px;
              border-radius: 50%;
            }
          }
          .person-content {
            width: calc(100% - 105px - 195px);
            .person-name {
              font-family: RobotoBold;
              font-size: 14px;
              color: #222222;
              width: 215px;
            }
            .person-info-wrapper {
              width: calc(100% - 215px);
              .person-info {
                .single-info {
                  width: 105px;
                  font-size: 14px;
                  color: #222222;
                }
                .single-info-position {
                  width: calc(100% - 105px);
                  font-family: RobotoBold;
                  font-size: 14px;
                  color: #222222;
                }
              }
            }
          }
          .person-button {
            width: 195px;
            text-align: right;
            button {
              max-width: 170px;
              width: 100%;
              margin: 0 auto;
              border-radius: 50px;
              border: 1px solid #e9e9e9;
              font-family: RobotoBold;
              font-size: 12px;
              color: #222222;
              text-transform: uppercase;
              text-align: center;
              padding: 5px 0;
              transition: all .2s linear;
            }
          }
          &:hover{
            transition: all .2s linear;
            text-decoration: none;
            border-bottom: 2px solid #007433;
            box-shadow: 0 0 30px -5px lightgrey;
            button{
              transition: all .2s linear;
              cursor: pointer;
              background-color: #ffa800;
              color: #fff;
              border: 1px solid #ffa800;
            }
          }
          &:focus{
            outline: none;
            button{
              outline: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .page-mark{
    .main-wrapper{
      .content{
        .person-wrapper{
          .single-wrapper{
            .person-image{
              width: 100%;
              text-align: center;
              margin-bottom: 10px;
            }
            .person-content{
              width: 100%;
              justify-content: center;
              -webkit-justify-content: center;
              margin-bottom: 15px;
              .person-name{
                width: 50%;
              }
              .person-info-wrapper{
                width: 50%;
              }
            }
            .person-button{
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .page-mark{
    padding: 30px 0;
    .main-wrapper{
      .content{
        width: 100%;
        .main-title{
          font-size: 28px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .page-mark{
    .main-wrapper{
      .content{
        .program-title{
          font-size: 20px;
        }
        .message-block{
          padding: 20px;
        }
        .person-wrapper{
          .single-wrapper{
            .person-content{
              .person-name{
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
              }
              .person-info-wrapper{
                width: 100%;
                .person-info{
                  max-width: 300px;
                  margin: 0 auto;
                  justify-content: center;
                  -webkit-justify-content: center;
                  .single-info{
                    display: flex;
                    display: -webkit-flex;
                  }
                  .single-info-position{
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .page-mark {
    .main-wrapper {
      .content {
        .message-block {
          padding: 10px;
        }
      }
    }
  }
}