.page-books {
  padding: 50px 0 60px;
  .main-wrapper {
    .content {
      width: calc(100% - 260px - 30px);
      .page-title {
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        padding-bottom: 15px;
        text-align: center;
      }
      .page-title-border {
        height: 1.5px;
        max-width: 260px;
        width: 100%;
        margin: 0 auto 20px;
        background-color: #007433;
      }
      .books-wrapper{
        .single-book{
          width: calc((100% - 90px)/4);
          .book-image{
            position: relative;
            margin-bottom: 15px;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            &:before{
              display: block;
              content: "";
              padding-top: 145%;
            }
          }
          .books-content{
            .book-text{
              font-family: RobotoBold;
              font-size: 14px;
              color: #222222;
              margin-bottom: 10px;
              text-align: center;
            }
            .books-button{
              max-width: 130px;
              width: 100%;
              margin: 0 auto;
              a{
                display: block;
                font-family: RobotoBold;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                background-color: #ffa800;
                border: 1px solid #ffa800;
                border-radius: 50px;
                padding: 5px 0;
                transition: all .2s linear;
                svg{
                  color: #fff;
                  font-size: 10px;
                  margin-right: 5px;
                  transition: all .2s linear;
                }
                &:hover{
                  transition: all .2s linear;
                  text-decoration: none;
                  color: #ffa800;
                  background-color: #fff;
                  border: 1px solid #ffa800;
                  svg{
                    transition: all .2s linear;
                    color: #ffa800;
                  }
                }
                &:focus{
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 992px ) {
  .page-books{
    .main-wrapper{
      .content{
        .books-wrapper{
          .single-book{
            margin: 0 15px 30px 15px;
            &:nth-of-type(4n + 1){
              margin: 0 15px 30px 0;
            }
            &:nth-of-type(4n + 4){
              margin: 0 0 30px 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 991px ) {
  .page-books{
    .main-wrapper{
      .content{
        .books-wrapper{
          justify-content: space-between;
          -webkit-justify-content: space-between;
          .single-book{
            width: calc((100% - 30px)/2);
            margin: 0 0 30px 0;

          }
        }
      }
    }
  }
}
@media screen and(max-width: 991px ) {
  .page-books {
    .main-wrapper {
      .content {
        width: 100%;
      }
    }
  }
}