.page-results{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .page-title{
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        padding-bottom: 15px;
        text-align: center;
      }
      .page-title-border{
        height: 1.5px;
        max-width: 260px;
        width: 100%;
        margin: 0 auto 20px;
        background-color: #007433;
      }
      .table-wrapper{
        .title-block{
          padding-bottom: 3px;
          .title-cell{
            font-family: RobotoBold;
            font-size: 14px;
            color: #fff;
            background-color: #007433;
            margin-right: 2.5px;
            padding: 7.5px 0;
            width: calc((100% - 41% - 24%)/2);
            &:nth-of-type(4n + 1){
              border-radius: 5px 0 0 0;
              width: 41%;
            }
            &:nth-of-type(4n + 3){
              width: 24%;
            }
            &:nth-of-type(4n + 4){
              border-radius:0  5px 0 0 ;
              width: calc((100% - 41% - 24%)/2);
            }
          }
        }
        .content-block{
          padding-bottom: 3px;
          .content-cell{
            text-align: center;
            font-family: RobotoMedium;
            font-size: 14px;
            color: #222222;
            background-color: #f6f6f6;
            margin-right: 2.5px;
            padding: 7.5px 0;
            width: calc((100% - 41% - 24%)/2);
          }
          .content-cell-title{
            width: 60px;
            background-color: #23ac5f;
            margin-right: 0;
            color: #fff;
            font-family: RobotoMedium;
          }
          .content-cell-course{
            width: calc(41% - 60px);
          }
          .content-cell-time{
            width: 24%;
          }
          .content-cell-title-orange{
            background-color: #ffa838;
          }
          .content-cell-title-blue{
            background-color: #579af4;
          }
          .table-cell-good{
           color: #008c3d;
          }
          .table-cell-warning{
            color: #e92f10;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .page-results{
    .main-wrapper{
      .content{
        width: 100%;
      }
      .sidebar{
        width: 100%;
      }
    }
  }
}