.page-program-learning-march{
  padding: 50px 0 60px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
      .message-block{
        padding: 20px 55px 20px 20px;
        background-color: #fff2c8;
        border-radius: 5px;
        margin-bottom: 20px;
        .image{
          width: 55px;
        }
        .text{
          width: calc(100% - 55px);
          font-size: 16px;
          color: #222222;
          .person-name{
            font-family: RobotoBold;
            color: #007433;
          }
        }
      }
      .program-title{
        font-family: RobotoBold;
        font-size: 36px;
        color: #007433;
        padding-bottom: 10px;
        text-align: center;
      }
      .program-title-line{
        max-width: 265px;
        margin: 0 auto 30px;
        height: 1.5px;
        background-color: #007433;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .page-program-learning-march{
    padding: 30px 0;
    .main-wrapper{
      .content{
        .message-block{
          padding: 20px;
        }
        .program-title{
          font-size: 32px;
        }
        .program-wrapper{
          justify-content: space-between;
          -webkit-justify-content: space-between;
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .page-program-learning-march{
    .main-wrapper{
      .sidebar-training{
        width: 100%;
        margin-bottom: 20px;
      }
      .content{
        width: 100%;
        .program-title{
          font-size: 28px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .page-program-learning-march {
    .main-wrapper {
      .content {
        .message-block{
          padding: 10px;
        }
      }
    }
  }
}
