.test-single-question-page{
  padding: 50px 0 65px;
  .main-wrapper{
    .content{
      width: calc(100% - 260px - 30px);
    }
  }
}
@media screen and (max-width: 991px) {
  .test-single-question-page{
    padding: 30px 0;
    .main-wrapper{
      .sidebar{
        width: 100%;
        margin-bottom: 20px;
      }
      .content{
        width: 100%;
      }
    }
  }
}
