.card-single-question{
  padding: 25px 45px 50px;
  border: 1px solid #e9e9e9;
  .question-title{
    font-family: RobotoBold;
    font-size: 36px;
    color: #222222;
    padding-bottom: 10px;
    text-align: center;
  }
  .question-hr{
    max-width: 265px;
    width: 100%;
    margin: 0 auto 10px;
    height: 1.5px;
    background-color: #e9e9e9;
  }
  .question-wrapper{
    font-family: RobotoMedium;
    font-size: 18px;
    color: #222222;
    .question-number{
      width: 22px;
    }
    .question-text{
      width: calc(100% - 22px);
    }
    margin-bottom: 10px;
  }
  .answer-wrapper{
    margin-left: 40px;
  }
  .markup-add-job-form{
    font-size: 16px;
    color: #222222;
    position: relative;
    margin-bottom: 20px;
    input{
      position: absolute;
      left: -9999px;
      &:checked ~ .add-job-mark:before{
        content: "";
        display: block;
        transition: all .2s linear;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #197b30;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &:checked ~ .answer-text{
        color: #007433;
      }
    }
    .add-job-mark{
      width: 20px;
      height: 20px;
      border: 1.5px solid #197b30;
      border-radius: 50%;
      display: block;
      margin-right: 10px;
      transition: all .2s linear;
      position: relative;
      &:before{
        content: "";
        display: block;
        transition: all .2s linear;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #197b30;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }
    .answer-text{
      font-size: 16px;
      color: #222222;
      max-width: calc(100% - 30px);
    }
    &:last-of-type{
      margin-bottom: 30px;
    }
  }
  .next-button{
    max-width: 155px;
    width: 100%;
    margin: 0 auto 30px;
    button{
      display: block;
      width: 100%;
      font-family: RobotoBold;
      font-size: 12px;
      text-transform: uppercase;
      color: #222222;
      border: 1px solid #e3e3e3;
      border-radius: 50px;
      text-align: center;
      padding: 10px 0;
      transition: all .2s linear;
      background-color: transparent;

      svg{
        margin-left: 5px;
        font-size: 9px;
        color: #222222;
        vertical-align: 0;
        transition: all .2s linear;
      }
      &:focus{
        outline: none;
      }
      &:hover{
        cursor: pointer;
        transition: all .2s linear;
        color: #fff;
        background-color: #ffa800;
        border: 1px solid #ffa800;
        svg{
          color: #fff;
          transition: all .2s linear;
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .card-single-question {
    padding: 25px 20px 40px;
  }
}
@media screen and (max-width: 991px) {
  .card-single-question {
    padding: 25px 20px 40px;
  }
}

@media screen and (max-width: 767px) {
  .card-single-question {
    padding: 25px 20px;
    .answer-wrapper {
      margin-left: 0;
    }
    .question-title {
      font-size: 24px;
    }
    .question-wrapper{
      font-size: 16px;
    }
  }
}

