.course-menu-block {
  .content-menu-title {
    font-family: RobotoBold;
    font-size: 24px;
    color: #fff;
    background-color: #007433;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 5px 5px 0 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
    li {
      padding: 6px 0 6px 40px;
      background-color: #f6f6f6;
      border-bottom: 1.5px solid #e6e6e6;
      border-right: 1.5px solid #e6e6e6;
      border-left: 1.5px solid #e6e6e6;
      a {
        font-family: RobotoBold;
        font-size: 18px;
        color: #222222;
        transition: all .2s linear;
        &:hover {
          transition: all .2s linear;
          text-decoration: none;
          color: #007433;
        }
      }
      &:last-of-type {
        border-radius: 0 0 5px 5px;
      }
    }
  }
  .button-important {
    max-width: 180px;
    margin: 0 auto 30px;
    width: 100%;
    a {
      display: block;
      font-family: RobotoBold;
      font-size: 12px;
      color: #222222;
      text-transform: uppercase;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: center;
      padding: 6px 0;
      &:hover {
        transition: all .2s linear;
        text-decoration: none;
        color: #fff;
        background-color: #ffa800;
        border: 1px solid #ffa800;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .course-menu-block{
    ul{
      li{
        a{
          font-size: 16px;
        }
      }
    }
    .content-menu-title{
      font-size: 20px;
    }
  }
}