body{
  font-family: RobotoRegular;
}
.main-container{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}
//Time Block Testing
.time-text{
  font-size: 18px;
  font-family: RobotoMedium;
  color: #222222;
  text-align: center;
  margin-bottom: 10px;
}
.time-wrapper{
  margin-bottom: 15px;
  .time{
    position: relative;
    border: 1px solid #fcb61e;
    border-radius: 3px;
    padding: 2.5px 15px 2.5px 32px;
    font-size: 18px;
    color: #222222;
    .time-image{
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
    }
  }
}

.warning-time{
 color: #e92f10;
  text-align: center;
  font-family: RobotoMedium;
}
.already-answered{
  text-align: center;
  text-transform: uppercase;
  font-family: RobotoMedium;
  font-size: 25px;
  color: #222222;
}
.wysiwyg-wrapper{
  h2{
    font-family: RobotoBold;
    font-size: 24px;
    color: #222222;
    text-align: center;
    &:after{
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.1);
      height: 1px;
      width: 100px;
      margin: 10px auto 0;
    }
  }
  p{
    font-size: 16px;
    color: #222222;
    margin-bottom: 20px;
    img{
      max-width: 100%;
      object-fit: contain;
      margin-bottom: 30px;
      height: auto;
    }
  }
  &>img{
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
    height: auto;
  }


  .carousel{
    position: relative;
    .carousel-indicators{
      display: none !important;
      margin: 0;
      bottom: 30px;
      li{
        margin-right: 9px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e9e9e9;
        &:last-of-type{
          margin-right: 0;
        }
      }
      .active{
        background-color: #007433;
      }
    }
    .carousel-control-prev{
      width: 40px;
      height: 40px;
      border: 0.5px solid #e9e9e9;
      border-radius: 50%;
      opacity: 1;
      top: auto !important;
      left: 40% !important;
      bottom: -50px !important;
      .carousel-control-prev-icon{
        background-image: none !important;
        svg{
          color: #007433;
        }
      }
    }
    .carousel-control-next{
      width: 40px;
      height: 40px;
      border: 0.5px solid #e9e9e9;
      border-radius: 50%;
      opacity: 1;
      top: auto !important;
      right: 40% !important;
      bottom: -50px !important;
      .carousel-control-next-icon{
        background-image: none !important;
        svg{
          color: #007433 !important;
        }
      }
    }
  }

}
.wysiwyg-video{
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 25px;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:before{
    display: block;
    content: "";
    padding-top: 55%;
  }
}
.wysiwyg-gallery{
  .wysiwyg-image {
    width: calc((100% - 30px) / 2);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:before {
      display: block;
      content: "";
      padding-top: 61%;
    }
  }
}
.no-posts{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-family: RobotoBold;
  font-size: 36px;
}
#end-course-test{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-family: RobotoBold;
  font-size: 36px;

}



@media screen and (max-width: 991px){
  .wysiwyg-video {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 767px){
  .wysiwyg-wrapper {
    p{
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 500px){
  .wysiwyg-gallery{
    .wysiwyg-image {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}