.info-sidebar{
  width: 260px;
  .title{
    font-family: RobotoBold;
    font-size: 24px;
    color: #007433;
    text-align: center;
    padding-bottom: 5px;
  }
  .title-border{
    height: 1.5px;
    background-color: #007433;
    margin-bottom: 15px;
  }
  .person-info{
    .person-image{
      width: 125px;
      height: 125px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto 15px;
      img{

      }
    }
    .person-text{
      font-size: 14px;
      color: #222222;
      text-align: center;
      padding-bottom: 40px;
      border-bottom: 1.5px solid #e9e9e9;
      margin-bottom: 15px;
    }
  }
  .company-block{
    margin-bottom: 15px;
    .company-title{
      font-family: RobotoMedium;
      font-size: 14px;
      color: #222222;
      text-align: center;
      margin-bottom: 8px;
    }
    .company-image{
      position: relative;
      margin-bottom: 10px;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:before{
        display: block;
        content: "";
        padding-top: 55%;
      }
    }
    .company-text{
      font-size: 14px;
      color: #222222;
      text-align: center;
    }
  }
  .info-button{
    max-width: 260px;
    width: 100%;
    margin: 0 auto 20px;
    a{
      display: block;
      font-family: RobotoBold;
      font-size: 12px;
      color: #222222;
      text-transform: uppercase;
      text-align: center;
      border-radius: 50px;
      border: 1px solid #e9e9e9;
      padding: 10px 0;
      transition: all .2s linear;
      &:hover{
        transition: all .2s linear;
        text-decoration: none;
        color: #fff;
        background-color: #ffa800;
        border: 1px solid #ffa800;
      }
      &:focus{
        outline: none;
      }
    }
    &:last-of-type{
      margin: 0 auto;
    }
  }

  //Carousel
  .carousel{
    .carousel-indicators{
      margin: 0;
      bottom: 30px;
      li{
        margin-right: 9px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e9e9e9;
        &:last-of-type{
          margin-right: 0;
        }
      }
      .active{
        background-color: #007433;
      }
    }
    .carousel-control-prev{
      width: 40px;
      height: 40px;
      border: 0.5px solid #e9e9e9;
      border-radius: 50%;
      opacity: 1;
      top: 40px;
      .carousel-control-prev-icon{
        background-image: none !important;
        svg{
          color: #222222;
        }
      }
    }
    .carousel-control-next{
      width: 40px;
      height: 40px;
      border: 0.5px solid #e9e9e9;
      border-radius: 50%;
      opacity: 1;
      top: 40px;
      .carousel-control-next-icon{
        background-image: none !important;
        svg{
          color: #222222 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .info-sidebar {
    width: 100%;
    margin-bottom: 20px;
    .title-border {
      max-width: 260px;
      margin: 0 auto 15px;
    }
  }
}