.news-card{
  display: block;
  width: calc((100% - 60px) / 3);
  margin: 0 15px 20px 15px;
  border-bottom: 1.5px solid transparent;
  &:nth-of-type(3n + 1){
    margin: 0 15px 20px 0;
  }
  &:nth-of-type(3n + 3){
    margin: 0 0 20px 15px;
  }
  .image{
    position: relative;
    margin-bottom: 15px;
    & > img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
    &:before{
      display: block;
      content: "";
      padding-top: 61%;
    }
    .plus{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #3d3e3f;
      opacity: 0;
      transition: all .2s linear;

    }
  }
  .date{
    max-width: 115px;
    width: 100%;
    background-color: #007433;
    text-align: center;
    color: #ffffff;
    font-family: RobotoMedium;
    font-size: 14px;
    padding: 2px 0;
    border-radius: 5px;
    margin: 0 auto 10px;
  }
  .text{
    font-size: 18px;
    font-family: RobotoBold;
    color: #222222;
    text-align: center;
    padding: 0 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .more-button{
    max-width: 155px;
    width: 100%;
    margin: 0 auto 30px;
    button{
      cursor: pointer;
      display: block;
      width: 100%;
      font-family: RobotoBold;
      font-size: 12px;
      text-transform: uppercase;
      color: #222222;
      border: 1px solid #e3e3e3;
      border-radius: 50px;
      text-align: center;
      padding: 10px 0;
      transition: all .2s linear;
      background-color: transparent;

      svg{
        margin-left: 3px;
        font-size: 9px;
        color: #222222;
        vertical-align: 0;
        transition: all .2s linear;
      }
      &:focus{
        outline: none;
      }
    }
  }
  &:hover{
    transition: all .2s linear;
    text-decoration: none;
    box-shadow: 0 0 50px -5px lightgrey;
    border-bottom: 1.5px solid #007433;
    button{
      background-color: #ffa800;
      transition: all .2s linear;
      text-decoration: none;
      color: #fff;
      border: 1px solid #ffa800;
      svg{
        color: #fff;
        transition: all .2s linear;
      }
    }
    .image{
     .plus{
       opacity: 0.9;
       transition: all .2s linear;
     }
    }
  }
}
@media screen and (max-width: 991px){
  .news-card{
    width: calc((100% - 40px) / 2);
    margin: 0 0 20px 0;
    &:nth-of-type(3n + 1){
      margin: 0 0 20px 0;
    }
    &:nth-of-type(3n + 3){
      margin: 0 0 20px 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .news-card{
    width: 100%;
    margin: 0 0 20px 0;
  }
}