.pagination{
  margin-top: 30px;
  a{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    margin-right: 15px;
    font-size: 14px;
    font-family: RobotoBold;
    color: #222222;
    transition: all .2s linear;
    &:hover{
      transition: all .2s linear;
      text-decoration: none;
      border: 1px solid #007433;
      color: #007433;
    }
  }
  .current{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #007433;
    background-color: #007433;
    margin-right: 15px;
    font-size: 14px;
    font-family: RobotoBold;
    color: #fff;
    transition: all .2s linear;
  }
}