.question-pagination{
  margin-top: 30px;
  justify-content: center;
  -webkit-justify-content: center;
  a{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 14px;
    font-family: RobotoBold;
    color: #222222;
    transition: all .2s linear;
    &:last-of-type{
      margin-right: 0;
    }
    &:hover{
      transition: all .2s linear;
      text-decoration: none;
      border: 1px solid #007433;
      color: #007433;
    }
  }
  .pagination-active{
    border: 1px solid #007433;
    color: #fff !important;
    background-color: #007433;
  }
}
@media screen and (max-width: 650px){
  .question-pagination{
    justify-content: left;
    -webkit-justify-content: left;
    a{
      margin-bottom: 10px;
    }
  }

}