.sidebar-success-type{
  width: 260px ;
  .title{
    font-family: RobotoBold;
    font-size: 24px;
    color: #007433;
    border-bottom: 1.5px solid #007433;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .menu{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        align-items: center;
        -webkit-align-items: center;
        margin-bottom: 20px;
        .image{
          width: 45px;
        }
        a{
          width: calc(100% - 45px);
          font-family: RobotoBold;
          font-size: 14px;
          color: #222222;
          padding: 2px 10px;
          text-transform: uppercase;
          //transition: all .2s linear;
          &:hover{
            //transition: all .2s linear;
            text-decoration: none;
            background-color: #007433;
            color: #fff;
            text-align: center;

          }
          &:focus{
            outline: none;
          }
        }
        &:last-of-type{
          margin-bottom: 25px;
        }
      }
    }
    .progress-block{
      width: 100%;
      padding: 20px 0;
      border-top: 1.5px solid #e9e9e9;
      border-bottom: 1.5px solid #e9e9e9;
      margin-bottom: 20px;
      .progress-title{
        font-family: RobotoMedium;
        font-size: 14px;
        color: #222222;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
      }
      .text{
        font-family: RobotoBold;
        font-size: 14px;
        color: #007433;
        margin-bottom: 5px;
        text-align: center;
      }
      .progress{
        height: 12px;
        background: #bbefd1;
        border-radius: 50px;
      }
    }
    .progress-button-success{
      max-width: 200px;
      width: 100%;
      margin: 0 auto 110px;
      a{
        display: block;
        font-family: RobotoBold;
        font-size: 12px;
        color: #222222;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        border: 1px solid #e9e9e9;
        border-radius: 50px;
        transition: all .2s linear;
        &:hover{
          transition: all .2s linear;
          text-decoration: none;
          color: #fff;
          background-color: #ffa800;
          border: 1px solid #ffa800
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
  .success-sidebar{
    position: relative;
    width: 260px;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 100px 20px 30px;
    .success-logo{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -68.5px;
      border-radius: 50%;
      background-color: #fff;
      width: 165px;
      height: 165px;
    }
    .success-title{
      font-family: RobotoBold;
      font-size: 24px;
      color: #007433;
      text-align: center;
      padding-bottom: 10px;
    }
    .success-title-hr{
      max-width: 100px;
      margin: 0 auto 10px;
      background-color: #ebebeb;
      height: 1.5px;
    }
    .success-sub-title{
      font-family: RobotoBold;
      font-size: 16px;
      color: #222222;
      text-align: center;
    }
    .success-sub-text{
      font-family: RobotoBold;
      font-size: 16px;
      color: #ffa800;
      text-align: center;
    }
    .top-rated-wrapper{
      .top-rated-single{
        border-bottom: 1.5px solid #ebebeb;
        padding: 10px 0;
        .image{
          width: 65px;
          overflow: hidden;
          img{
            width: 52px;
            height: 52px;
            border-radius: 50%;
          }
        }
        .content{
          width: calc(100% - 65px);
          .card-title{
            font-family: RobotoBold;
            font-size: 14px;
            color: #222222;
            margin-bottom: 5px;
          }
          .card-text{
            font-size: 14px;
            color: #007433;
          }
        }
        &:last-of-type{
          border-bottom: none;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .sidebar-success-type {
    width: 100%;
    margin-bottom: 20px;
    .success-sidebar{
      width: 100%;
      .top-rated-wrapper{
        .top-rated-single{
          .content{
            width: inherit;
          }
        }
      }
    }
  }
}